services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    command: ["postgres", "-c", "password_encryption=md5"]
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
